.cpcache/
.lsp/
lock
*.repl-file
.clj-kondo/
.calva/
/target/
/resources/public/js/
/resources/public/test/
/resources/public/css/*.edn
/resources/public/css/*.css
/resources/public/css/*/
/db/
.direnv
