.cpcache/
.lsp/
lock
*.repl-file
.clj-kondo/
.calva/
.nrepl-port
/target/
/resources/public/*/*.js
/resources/public/*/manifest.edn
/resources/public/test/
/resources/public/css/*.edn
/resources/public/css/*.css
/resources/public/css/*/
cljs-runtime/
/db/
.direnv
.shadow-cljs/

.pnp.*
.yarn
