{:deps true
 :builds {:app {:output-dir "resources/public/js"
                :target :browser
                :modules {:shared   {:entries []}
                          :admin    {:depends-on #{:shared}
                                     :init-fn rtc.admin.core/init!}
                          :register {:depends-on #{:shared}
                                     :init-fn rtc.register.core/init!}
                          :intake   {:depends-on #{:shared}
                                     :init-fn rtc.intake.core/init!}}
                :devtools {:http-root "public"
                           :http-port 3001
                           :watch-dir "resources/public"}}

          :test {:test-dir "resources/public/test"
                 :target :browser-test
                 :ns-regexp "-test$"
                 :devtools {:http-root "resources/public/test"
                            :http-port 3002}}}
 :cache-blockers #{rtc.i18n.data rtc.i18n.core}}
