;; shadow-cljs configuration
{:deps true
 :dev-http
 {4040 "resources/debug"}

 :builds
 {;; shadow-cljs watch intake
  :intake
  {:target :browser
   :output-dir "resources/intake/js"
   :asset-path "/js"
   :devtools {:watch-dir "resources/intake"}
   :modules {:main ; becomes intake/js/main.js
             {:init-fn rtc.intake/init}}}

  ;; shadow-cljs watch admin
  :admin
  {:target :browser
   :output-dir "resources/admin/js"
   :asset-path "/js"
   :devtools {:watch-dir "resources/admin"}
   :modules {:main ; becomes admin/js/main.js
             {:init-fn rtc.admin/init}}}}}
