{:app/http {:port 4040
            :ring-defaults {[:security] false}
            :router #ig/ref :app/router}
 :app/websocket {:port 4042
                 :authentication #ig/ref :app/authentication}
 :app/router {:authentication #ig/ref :app/authentication}
 :app/authentication {:dev/user {:user/id 123
                                 :user/email "coby@example.com"
                                 :user/preferences
                                 {:color-mode :high-contrast}}}
 :app/env :dev}
