{:app/http {:port 4040
            :ring-defaults {[:security] false}
            :router #ig/ref :app/router
            :bread/handler #ig/ref :bread/handler}
 :app/websocket {:port 4042
                 :authentication #ig/ref :app/authentication}
 :app/router {:authentication #ig/ref :app/authentication}
 :app/authentication {:dev/user {:user/id 123
                                 :user/email "coby@example.com"
                                 :user/preferences
                                 {:color-mode :default}}}
 :app/env :dev
 :bread/db {:db/type :datahike
            :store {:backend :mem
                    :id "rtc-db"}
            :recreate? true
            :force? true
            :db/initial-txns
            ;; #uuid "313be3ec-f849-42e7-b4b6-4493807bdc3c"
            ;; #uuid "acdfca4f-2c57-427a-bced-117e25d823ee"
            [{:db/id "user.coby"
              :user/name "Coby"
              :user/preferences "{:pronouns \"any\" :color-mode :default}"
              :user/email "coby@tamayo.email"
              :user/username "coby@tamayo.email"
              :user/password #buddy/derive ["hello" :bcrypt+blake2b-512]}
             {:db/id "user.ursula"
              :user/name "Ursula"
              :user/preferences "{:pronouns \"they/elle\" :color-mode :high-contrast}"
              :user/password #buddy/derive ["hello" :bcrypt+blake2b-512]}
             {:thing/uuid #uuid "c11adee6-1777-4408-9946-dcbb19098df0"
              :thing/created-at #inst "2025-01-31T09:31:00-07:00"
              :thing/updated-at #inst "2025-01-31T09:31:00-07:00"
              :appt/status :needs-attention
              :appt/name "Angela Davis"
              :appt/pronouns "she/her"
              :appt/email "aydavis@ucsc.edu"
              :appt/phone "+9165551234"
              :appt/state :CA
              :appt/text-ok? true
              :appt/preferred-comm :text
              :thing/fields
              [{:field/key :available-days
                :field/content
                "#{:mon :tues :weds :thurs :fri :sat :sun}"}
               {:field/key :available-times
                :field/content
                ;; TODO keywords??
                "#{\"Mornings\" \"Afternoons\" \"Evenings\"}"}]
              :appt/notes
              [{:note/content "Hello this is a test note"
                :note/created-by "user.coby"
                :thing/created-at #inst "2025-01-25T07:41:00-07:00"}
               {:note/content "Need to schedule live captioner"
                :note/created-by "user.ursula"
                :thing/created-at #inst "2025-01-26T07:41:00-07:00"}
               {:note/content "Confirming with captioner about availability"
                :note/created-by "user.ursula"
                :thing/created-at #inst "2025-01-27T07:41:00-07:00"}]
              :appt/access-needs [{:need/type :need.type/captioning
                                   :need/met? false}]
              }
             {:thing/uuid #uuid "b358445e-aa6e-44a0-bf48-dafa93ffa446"
              :thing/created-at #inst "2025-01-25T07:31:00-07:00"
              :thing/updated-at #inst "2025-01-29T14:31:00-07:00"
              :appt/status :waiting
              :appt/name "Bobby Seale"
              :appt/pronouns "he/him"
              :appt/email "bobby@panthers.social"
              :appt/phone "+7245556859"
              :appt/state :WA
              :appt/text-ok? true
              :appt/preferred-comm :text
              :appt/reason "Disabled and immunocompromised. Need an ADHD prescription"
              :thing/fields
              [{:field/key :available-days
                :field/format :edn
                :field/content
                "#{:mon :weds :fri}"}
               {:field/key :available-times
                :field/format :edn
                :field/content
                "#{\"Afternoons\"}"}]}
             {:thing/uuid #uuid "4363f0dd-b319-409b-a219-45129c9d28e2"
              :thing/created-at #inst "2025-01-25T07:31:00-07:00"
              :thing/updated-at #inst "2025-01-29T14:31:00-07:00"
              :appt/status :archived
              :appt/name "Crenshaw"
              :appt/pronouns "she/her"
              :appt/email "intersectional@crenshaw.life"
              :appt/phone "+7245556859"
              :appt/state :MD
              :appt/text-ok? true
              :appt/preferred-comm :text
              :appt/reason "Lorem ipsum dolor sit amet"
              :thing/fields
              [{:field/key :available-days
                :field/format :edn
                :field/content
                "#{:mon :tues :weds :thurs :fri}"}
               {:field/key :available-times
                :field/format :edn
                :field/content
                "#{\"Afternoons\"}"}]}
             ]}}
