{:app/http {:port 4040
            :ring-defaults {[:security] false}
            :router #ig/ref :app/router}
 :app/websocket {:port 4042
                 :authentication #ig/ref :app/authentication}
 :app/router {:authentication #ig/ref :app/authentication}
 :app/authentication {:dev/user {:user/id 123
                                 :user/email "coby@example.com"
                                 :user/preferences
                                 {:color-mode :default}}}
 :app/env :dev
 :bread/db {:db/type :datahike
            :store {:backend :mem
                    :id "rtc-db"}
            :recreate? true
            :force? true}}
