:root {
  /* https://css-tricks.com/snippets/css/system-font-stack/ */
  --system-sans: system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  --col-offwhite: rgb(247, 239, 245);
  --col-inky: rgb(33, 0, 62);
  --col-hotpink: rgb(230, 8, 60);
  --col-pink: rgb(239, 189, 200);
  --col-lightpink: rgb(248, 221, 226);
  --col-teal: rgb(40, 103, 97);
  --col-paleblue: rgb(221, 248, 242);
  --col-palepurple: rgb(225, 214, 240);
  --col-purple: rgb(201, 115, 250);
  --col-lavender: rgb(153, 141, 188);
  --col-grey: rgb(114, 92, 121);
  --col-lightgrey: rgb(200, 206, 206);
  --col-palegrey: rgb(221, 221, 221);

  --col-link: var(--col-teal);
  --col-link-hover: rgb(255, 26, 79);
  --col-alert-bg: var(--col-palepurple);
  --col-alert-border: var(--col-purple);
  --col-emphasis-bg: var(--col-paleblue);
  --col-emphasis-border: var(--col-lavender);

  --border-form-elem: 2px solid var(--col-lightgrey);
  --spacing-form-elem: 0.25rem 0.5rem;

  --gutter-narrow: 0.5em;
  --gutter-normal: 1em;
  --gutter-wide: 2em;
}

[data-color-mode=high-contrast] {
  --col-inky: black;
  --col-offwhite: white;
  --col-link: rgb(41, 0, 76);
  --col-hotpink: rgb(197, 2, 93);
  --col-alert-bg: rgb(255, 227, 227);
  --col-alert-border: rgb(218, 43, 92);
  --col-emphasis-bg: rgb(216, 245, 238);
  --col-emphasis-border: rgb(12, 3, 39);
}



/*
 * LAYOUT
 */

html {
  font-family: var(--system-sans);
  font-size: 18px;
  line-height: 1.5;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--col-offwhite);
}
* {
  color: var(--col-inky);
}

body > nav {
  display: flex;
  gap: 2ch;
  align-items: center;

  padding: 0.5rem;
  border-bottom: 2px solid pink;
}
body > nav > ul {
  display: flex;
  gap: 2ch;
}
nav h1, nav ul {
  margin: 0;
  padding: 0;
}
nav ul {
  list-style: none;
}

.container {
  display: flex;
  flex-flow: row wrap;
  gap: 2em;

  margin: 0 auto 2em;
  max-width: 150ch;
  width: 96%;

  --sidebar-width-basis: 30%;
  --main-width-basis: 70%;
}
.appt-details {
  --sidebar-width-basis: 50%;
  --main-width-basis: 50%;
}

aside, main {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 1em;
}
aside {
  flex: 1 1 calc(var(--sidebar-width-basis) - 2em);
}
main {
  flex: 1 2 calc(var(--main-width-basis) - 2em);
}
footer {
  width: calc(100% - 2em);
  margin-top: 10em;
  padding: 1em;
}
.bottom {
  width: calc(100% - 2em);
  text-align: right;
  color: var(--col-grey);
  font-family: monospace;
  font-size: 0.9em;
}



/*
 * COMPONENTS
 */

.banner-alert {
  padding: var(--gutter-narrow);
  background-color: var(--col-pink);
  text-align: center;
}

form {
  margin: 0;
}
.filter-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
fieldset {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;

  border: 2px solid var(--col-lightgrey);
  margin: 0;
}
fieldset > legend {
  font-style: italic;
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
}
fieldset > * {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
fieldset label {
  font-weight: 800;
}

button, select {
  padding: var(--spacing-form-elem);
  border: var(--border-form-elem);
  font-size: 1em;
  cursor: pointer;
}
button {
  font-weight: 800;
}

.applied-filters {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.applied-filters a {
  font-weight: 400;
  text-decoration: none;
  padding: var(--spacing-form-elem);
  --col-link-hover: var(--col-teal);
}
.applied-filters a:not(:last-child) {
  border: var(--border-form-elem);
  cursor: crosshair;
}
.applied-filters a:not(:last-child):hover {
  text-decoration: line-through;
}
.applied-filters a:not(:last-child):after {
  content: "×";
  padding-left: 0.5rem;
}
.applied-filters a:not(:last-child):hover:after {
  /* FIXME */
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;

  gap: 1rem;
  padding: 0.5rem;

  border-width: 2px;
  border-style: solid;
  border-color: var(--col-lightgrey);
}
.card h1 {
  margin: 0;
  font-size: 1em;
  color: var(--col-hotpink);
}

section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: var(--gutter-normal);
  border: 2px solid var(--col-lightgrey);
}
aside * {
  gap: var(--gutter-narrow);
}

[data-status] {
  border-width: 2px;
  border-style: solid;
  border-color: var(--col-lightgrey);
}
[data-status=needs-attention] {
  background-color: var(--col-alert-bg);
  border-color: var(--col-alert-border);
}
[data-status=waiting] {
  background-color: var(--col-emphasis-bg);
  border-color: var(--col-emphasis-border);
}
[data-status=archived] {
  background-color: var(--col-palegrey);
  border-color: var(--col-emphasis-border);
  border-style: dashed;
}
.card .status-line {
  font-size: 0.8em;
  opacity: 0.7;
}
.appt-status {
  font-weight: 800;
}
.appt-access-needs.unmet {
  font-weight: 800;
}
.appt-summary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
.appt-summary > * {
  display: flex;
  flex-direction: column
}
.appt-availability {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
}
.field-label {
  font-weight: 800;
  font-size: 0.8em;
  opacity: 0.7;
}
.spacer ~ * :is(.field-label, .field-value) {
  text-align: right;
}

.status {
  padding: 0.25em 0.5em;
}

.notes, .notes-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.notes-container {
  max-height: 40vh;
  overflow: scroll;
  border: 1px solid var(--col-lightgrey);
  padding: 0.5em;
}
.action-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.note {
  position: relative;
}
.note .byline {
  width: 100%;
  justify-content: flex-end;
  font-size: 0.8em;
}
.note .content {
  padding: 0.5em;
  border-radius: 5px;
  background-color: var(--col-palegrey);
}




/*
 * TYPOGRAPHY
 */

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
nav h1 {
  color: var(--col-hotpink);
}
a {
  font-weight: 800;
  color: var(--col-link);
  text-decoration: currentcolor underline 2px;
  cursor: pointer;
}
a:hover {
  color: var(--col-link-hover);
  text-decoration-style: dotted;
}
.instruct {
  color: var(--col-grey);
  font-style: italic;
}



/*
 * UTILITY
 */

.flex {
  display: flex;
  gap: 1em;
}
.col {
  flex-direction: column;
}
.flex > .spacer {
  flex-grow: 1;
}
.spacious {
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 2rem;
}
