{;; English versions of all phrases used on the frontend
 :lang :en-US
 :lang-name "English"
 :get-care "Get Care"
 :choose-a-language "Choose a language"
 :on-winter-break "Thank you for visiting the RTC. We are currently on winter break. We will begin scheduling appointments again on January 10th, 2022. If you have an urgent need, please reach out to your local urgent care clinic."
 :yes-no [{:value 1 :label "Yes"}
          {:value 0 :label "No"}]
 :communication-methods [{:value "phone" :label "Phone"}
                         {:value "email" :label "Email"}]
 :unexpected-error "An unexpected error occurred. Please try again."
 :basic-info "Basic Info"
 :contact-info "Contact Info"
 :access-needs "Access Needs"
 :medical-needs "Medical Needs"
 :schedule "Schedule an Appointment"
 :no-appointments-this-week "No appointments available this week. Use the arrows above to check other weeks."
 :window-unavailable "We're sorry, that appointment window is no longer available."
 :confirmation "Confirm"
 :confirm-details "Please confirm your details"
 :appointment-confirmed "Your appointment is confirmed!"
 :request-confirmed "We have received your request for an appointment!"
 :we-will-follow-up "Honoring your preferences, we will follow up with you by phone or email. Thank you."
 :we-will-follow-up-within "Honoring your preferences, we will follow up with you by phone or email within 48 hours. Thank you."
 :select-appointment-time "Please select an appointment time"
 :book-appointment "Book your appointment"
 :request-appointment "Request an Appointment"
 :appointment-time "Appointment time"
 :provider-name "Provider name"
 :back "Back"
 :next "Next"
 :name "Name"
 :name-help "Not required."
 :anonymous "Anonymous"
 :pronouns "Pronouns"
 :they-them "they/them/theirs"
 :state "State"
 :state-help "Needed to find a provider who can legally provide care for you."
 :email "Email"
 :phone "Phone"
 :email-or-phone "Please enter your Email, Phone, or both."
 :email-or-phone-help "Email or Phone is required."
 :text-ok "OK to text?"
 :text-ok-help "Depending on your carrier, you may incur charges."
 :preferred-communication-method "Preferred Communcation Method"
 :interpreter-lang "Do you need an interpreter?"
 :interpreter-lang-help "Let us know which language you are most comfortable speaking. If you speak English, leave this blank."
 :interpreter-options [{:value nil :label "Choose..."}
                       "Amharic"
                       "Arabic"
                       "ASL - American Sign Language"
                       "Chinese Cantonese"
                       "Chinese Madorin"
                       "Khmer"
                       "Korean"
                       "Punjabi"
                       "Russian"
                       "Spanish"
                       "Somali"
                       "Tagalog"
                       "Ukrainian"
                       "Vietnamese"
                       {:value :other :label "Other..."}]
 :other-access-needs "Any other access needs we can assist you with?"
 :description-of-needs "Short description of medical needs"
 :description-of-needs-help "For example, \"fever and sore throat for 3 days,\" or \"insulin prescription\""
 :please-describe-medical-needs "Please briefly describe your medical needs."
 :anything-else "Anything we forgot to ask?"
 :please-enter "Please enter your"
 :states
 [{:value ""   :label "Choose a state"}
  {:value "DC" :label "Washington DC"}
  ;{:value "AL" :label "Alabama"}
  ;{:value "AK" :label "Alaska"}
  ;{:value "AZ" :label "Arizona"}
  ;{:value "AR" :label "Arkansas"}
  {:value "CA" :label "California"}
  ;{:value "CO" :label "Colorado"}
  ;{:value "CT" :label "Connecticut"}
  ;{:value "DE" :label "Delaware"}
  ;{:value "FL" :label "Florida"}
  ;{:value "GA" :label "Georgia"}
  ;{:value "HI" :label "Hawaii"}
  ;{:value "ID" :label "Idaho"}
  ;{:value "IL" :label "Illinois"}
  ;{:value "IN" :label "Indiana"}
  ;{:value "IA" :label "Iowa"}
  ;{:value "KS" :label "Kansas"}
  ;{:value "KY" :label "Kentucky"}
  ;{:value "LA" :label "Louisiana"}
  ;{:value "ME" :label "Maine"}
  ;{:value "MD" :label "Maryland"}
  {:value "MA" :label "Massachusetts"}
  ;{:value "MI" :label "Michegan"}
  ;{:value "MN" :label "Minnesota"}
  ;{:value "MS" :label "Mississippi"}
  ;{:value "MO" :label "Missouri"}
  ;{:value "MT" :label "Montana"}
  ;{:value "NE" :label "Nebraska"}
  ;{:value "NV" :label "Nevada"}
  ;{:value "NH" :label "New Hampshire"}
  ;{:value "NJ" :label "New Jersey"}
  ;{:value "NM" :label "New Mexico"}
  ;{:value "NY" :label "New York"}
  ;{:value "NC" :label "North Carolina"}
  ;{:value "ND" :label "North Dakota"}
  ;{:value "OH" :label "Ohio"}
  ;{:value "OK" :label "Oklahoma"}
  ;{:value "OR" :label "Oregon"}
  ;{:value "PA" :label "Pennsylvania"}
  ;{:value "RI" :label "Rhode Island"}
  ;{:value "SC" :label "South Carolina"}
  ;{:value "SD" :label "South Dakota"}
  ;{:value "TN" :label "Tennessee"}
  ;{:value "TX" :label "Texas"}
  ;{:value "UT" :label "Utah"}
  ;{:value "VT" :label "Vermont"}
  ;{:value "VA" :label "Virginia"}
  {:value "WA" :label "Washington"}
  ;{:value "WV" :label "West Virginia"}
  ;{:value "WI" :label "Wisconsin"}
  ;{:value "WY" :label "Wyoming"}
  :notifications/prc.appointment-requested
  "Thank you for visiting the RTC. We have received your request and will follow up with you within 48 hours."
  ]}
