{;; NOTE: if you update this file, touch one of these files to get it to reload:
 ;; * i18n/core.cljc
 ;; * i18n/data.clj
 ;; * i18n/data.cljs
 ;; After that, you need to refresh the browser to force recompilation.
 :lang :es
 :lang-name "Español"
 :get-care "Recibe Atencion Médica"
 :choose-a-language "Seleccione un idioma"
 :on-winter-break "Gracias por visitar el RTC. En este momento estamos de vacaciones de invierno. Volveremos a programar citas el 10 de enero de 2022. Si usted tiene una necesidad urgente, por favor, póngase en contacto con su clínica local de atención urgente."
 :yes-no [{:value 1 :label "Sí"}
          {:value 0 :label "No"}]
 :communication-methods [{:value "phone" :label "Teléfono"}
                         {:value "email" :label "Dirección de correo electrónica"}]
 :unexpected-error "TODO An unexpected error occurred. Please try again."
 :basic-info "Información Basica"
 :contact-info "Información de Contacto"
 :access-needs "Necesidades de Accesso"
 :medical-needs "Necesidades Médicas"
 :schedule "Programar una Cita"
 :no-appointments-this-week "TODO No citas etsa semana"
 :window-unavailable "TODO Lo siento, that appointment window is no longer available."
 :confirmation "Confirmar"
 :confirm-details "Por favor confirmar"
 :appointment-confirmed "Su cita está confirmada!"
 ;; TODO
 :request-confirmed "We have received your request for an appointment!"
 :we-will-follow-up "TODO Honoring your preferences, we will follow up with you by phone or email. Thank you."
 :we-will-follow-up-within "Honoring your preferences, we will follow up with you by phone or email within 48 hours. Thank you."
 :select-appointment-time "Por favor seleccione una cita"
 :book-appointment "Reserve su cita"
 :request-appointment "Solicitar una Cita"
 :appointment-time "Hora de la cita"
 :provider-name "Nombre del médico"
 :back "Atrás"
 :next "Siguiente"
 :name "Nombre"
 :anonymous "Anónimo"
 :pronouns "Pronombres"
 :they-them "elles/elle"
 :state "Estado"
 :state-help "Se requiere para que le conectamos a un proveedor de atención médica que pueda proporcionarle servicios de telemedicina legalmente"
 :email "Dirección de correo electrónica"
 :phone "Teléfono"
 :email-or-phone "Por favor indique su correo electrónico, número de teléfono, o los dos."
 :email-or-phone-help "Se requiere su correo electrónico o número de teléfono."
 :text-ok "¿Está bien enviar un mensaje de texto?"
 :text-ok-help "Le pedimos esto ya que dependiendo de su operador puede incurrir en cargos."
 :preferred-communication-method "Método preferido de contacto"
 :interpreter-lang "¿Necesitas un intérprete?"
 :interpreter-lang-help "Seleccione un idioma o proporcione como \"otro\" a continuación"
 :interpreter-options [{:value nil :label "Seleccione..."}
                       "Amárico"
                       "Arabe"
                       "Lenguaje de Señas - Americano"
                       "Chino Cantonés"
                       "Chino Mandarín"
                       "Khmer"
                       "Coreano"
                       "Punjabi"
                       "Russo"
                       "Español"
                       "Somali"
                       "Tagalo"
                       "Ucranio"
                       "Vietnamita"
                       {:value :other :label "Otro..."}]
 :other-access-needs "¿Alguna otra necesidad de acceso que pueda ayudarnos a apoyarlo mejor?"
 :description-of-needs "Descripción breve de la necesidad médica"
 :description-of-needs-help "Por ejemplo, fiebre y síntomas de dolor de garganta durante 3 días, o necesita una receta para insulina, hormonas"
 :please-describe-medical-needs "Por favor proporcione una descripción breve de la necesidad médica"
 :anything-else "¿Algo que olvidamos preguntar?"
 :please-enter "Por favor indique su"
 :states
 [{:value ""   :label "Seleccione..."}
  {:value "WA" :label "Washington"}
  {:value "MA" :label "Massachusetts"}
  {:value "CA" :label "California"}]}
