{:lang :es
 :get-care "Recibe Atencion Médica"
 :choose-a-language "Seleccione un idioma"
 :yes-no [{:value 1 :label "Sí"}
          {:value 0 :label "No"}]
 :communication-methods [{:value "phone" :label "Teléfono"}
                         {:value "email" :label "Dirección de correo electrónica"}]
 :basic-info "Información Basica"
 :contact-info "Información de Contacto"
 :access-needs "Necesidades de Accesso"
 :medical-needs "Necesidades Médicas"
 :schedule "Programar una Cita"
 :confirmation "Confirmar"
 :confirm-details "Por favor confirmar"
 :appointment-confirmed "Su cita está confirmada!"
 :select-appointment-time "Por favor seleccione una cita"
 :book-appointment "Reserve su cita"
 :appointment-details "Detailes de la cita"
 :back "Atrás"
 :next "Siguiente"
 :name "Nombre"
 :anonymous "Anónimo"
 :pronouns "Pronombres"
 :they-them "elles/elle"
 :state "Estado"
 :state-help "Se requiere para que le conectamos a un proveedor de atención médica que pueda proporcionarle servicios de telemedicina legalmente"
 :email "Dirección de correo electrónica"
 :phone "Teléfono"
 :email-or-phone "Por favor indique su correo electrónico, número de teléfono, o los dos."
 :email-or-phone-help "Se requiere su correo electrónico o número de teléfono."
 :text-ok "¿Está bien enviar un mensaje de texto?"
 :text-ok-help "Le pedimos esto ya que dependiendo de su operador puede incurrir en cargos."
 :preferred-communication-method "Método preferido de contacto"
 :interpreter-lang "¿Necesitas un intérprete?"
 :interpreter-lang-help "Seleccione un idioma o proporcione como \"otro\" a continuación"
 :interpreter-options [{:value nil :label "Seleccione..."}
                       "Amárico"
                       "Arabe"
                       "Lenguaje de Señas - Americano"
                       "Chino Cantonés"
                       "Chino Mandarín"
                       "Khmer"
                       "Coreano"
                       "Punjabi"
                       "Russo"
                       "Español"
                       "Somali"
                       "Tagalo"
                       "Ucranio"
                       "Vietnamita"
                       {:value :other :label "Otro..."}]
 :other-access-needs "¿Alguna otra necesidad de acceso que pueda ayudarnos a apoyarlo mejor?"
 :description-of-needs "Descripción breve de la necesidad médica"
 :description-of-needs-help "Por ejemplo, fiebre y síntomas de dolor de garganta durante 3 días, o necesita una receta para insulina, hormonas"
 :please-describe-medical-needs "Por favor proporcione una descripción breve de la necesidad médica"
 :anything-else "¿Algo que olvidamos preguntar?"
 :please-enter "Por favor indique su"
 :states
 [{:value ""   :label "Seleccione..."}
  {:value "WA" :label "Washington"}
  {:value "NY" :label "New York"}
  {:value "CA" :label "California"}]}